<div>
    <h3>Оформление заказа</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        <tbody>

        <tr ng-repeat="oi in cart.items">
            <td>{{oi.productTitle}}</td>
            <td>{{oi.quantity}}</td>
            <td>{{oi.pricePerProduct + ' * ' + oi.quantity + ' = ' + oi.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Итоговая стоимость</td>
            <td>{{cart.price}}</td>
        </tr>
        </tbody>
    </table>
    <form ng-submit="submitCreateNewOrder()">
        <div class="form-group col-md-6">
            <label for="customerName">Имя</label>
            <input class="form-control" type="text" ng-model="profileForm.customerName" value="profileForm.customerName" id="customerName" required="">
        </div>
        <div class="form-group col-md-6">
            <label for="customerPhone">Номер телефона</label>
            <input class="form-control" type="tel" ng-model="profileForm.phoneNumber" value="profileForm.phoneNumber" id="customerPhone" required="">
        </div>
        <div class="form-group col-md-6">
            <label for="customerAddress">Адрес доставки</label>
            <input class="form-control" type="text" ng-model="profileForm.address" value="profileForm.address" id="customerAddress" required="">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Оформить</button>
        </div>
    </form>
</div>