<div>
    <h3>Товары</h3>
    <br>
    <h4>Фильтр</h4>
    <form novalidate ng-submit="updateTable()">
        <div class="form-group col-md-6">
            <label for="elementTitle">Наименование</label>
            <input class="form-control" type="text" ng-model="filterProduct.title" id="elementTitle">
        </div>
        <div class="form-group col-md-6">
            <label for="elementMinPrice">Минимальная цена</label>
            <input class="form-control" type="number" ng-model="filterProduct.min" id="elementMinPrice">
        </div>
        <div class="form-group col-md-6">
            <label for="elementMaxPrice">Максимальная цена</label>
            <input class="form-control" type="number" ng-model="filterProduct.max" id="elementMaxPrice">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Применить</button>
            <button class="btn btn-danger" type="button" ng-click="clearFilter()">Сбросить</button>
        </div>
    </form>
    <br>
    <div ng-controller="storeController">
        <div ui-grid="gridOptions" class="grid" ui-grid-pagination></div>
    </div>
    <button class="btn btn-success" ng-click="updateTable()">Обновить</button>
</div>