<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h1>Каталог товаров</h1>
    <h3>Фильтр</h3>
    <form method="GET" th:action="@{/products}">
        <input type="text" name="name" th:value="${param.name != null ? param.name : null}" placeholder="Наименование">
        <input type="number" name="min" th:value="${param.min != null ? param.min : null}" placeholder="Минимальная цена">
        <input type="number" name="max" th:value="${param.max != null ? param.max : null}" placeholder="Максимальная цена">
        <button class="btn btn-primary" type="submit">Отобразить</button>
        <a class="btn btn-primary" th:href="@{/products}">Очистить фильтр</a>
    </form>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/products/edit_product/' + ${p.id}}">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Pagination" th:if="${products.totalPages > 1}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${products.isFirst()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{'/products?p=1' + ${filterDefinition}}"
                   aria-label="Previous" title="На первую страницу" data-toggle="tooltip">
                    <span aria-hidden="true"><<<</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${products.isFirst()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{'/products?p=' + ${products.previousOrFirstPageable().getPageNumber() + 1} + ${filterDefinition}}"
                   aria-label="Previous" title="Предыдущая страница" data-toggle="tooltip">
                    <span aria-hidden="true">Назад</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq products.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence((products.number - 1 > 0 ? products.number - 1 : 1), (products.number + 3 < products.totalPages ? products.number + 3 : products.totalPages), 1)}">
                <a class="page-link" th:href="@{'/products?p=' + ${i} + ${filterDefinition}}" th:text="${i}"
                   th:title="${'Страница '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${products.isLast()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{'/products?p='+ ${products.nextOrLastPageable().getPageNumber() + 1} + ${filterDefinition}}"
                   aria-label="Next" title="Следующая страница" data-toggle="tooltip">
                    <span aria-hidden="true">Вперед</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${products.isLast()} ? 'disabled'">
                <a class="page-link"
                   th:href="@{'/products?p='+ ${products.totalPages} + ${filterDefinition}}"
                   aria-label="Next" title="На последнюю страницу" data-toggle="tooltip">
                    <span aria-hidden="true">>>></span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>