<div>
    <br>
    <h3>Заказы</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>#</td>
            <td>Пользователь</td>
            <td>Имя получателя</td>
            <td>Телефон</td>
            <td>Адрес</td>
            <td>Цена</td>
        </tr>
        <tbody>

        <tr ng-repeat="o in OrdersPage.content">
            <td>{{o.id}}</td>
            <td>{{o.user}}</td>
            <td>{{o.recipientName}}</td>
            <td>{{o.recipientPhone}}</td>
            <td>{{o.recipientAddress}}</td>
            <td>{{o.price}}</td>
        </tr>
        </tbody>
    </table>

    <ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage"
        ng-model="currentPage" max-size="maxSize" class="pagination-sm"
        boundary-links="true" force-ellipses="true"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-change="fillOrder(currentPage)" ng-show="pDisabled"
    ></ul>
</div>